@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-primary: #6f4e37;
  --color-secondary: #f5f0e6;
  --color-active: #8aa07b;
  --color-gold: #d4af37;
  --color-latte: #c4a484;
  --color-espresso: #3e2723;
  --color-red: #ff0800;
  --breakpoint-*: initial;
  --breakpoint-mobile: 22.5rem;
  --breakpoint-tablet: 46.5rem;
  --breakpoint-laptop: 62rem;
  --breakpoint-desktop: 90rem;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  /* min-width: 320px; */
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-secondary);
}

button {
  font-family: inherit;
  cursor: pointer;
  /* transition: border-color 0.25s; */
}

.rdp-button_previous .rdp-chevron polygon,
.rdp-button_next .rdp-chevron polygon {
  fill: #3e2723;
}

.rdp-button_previous:hover .rdp-chevron polygon,
.rdp-button_next:hover .rdp-chevron polygon {
  fill: #8aa07b;
}
